<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        {% if header_inject %}
            <!-- header-inject start -->
            {{ header_inject|safe }}
            <!-- header-inject end -->
        {% else %}
            <!-- no custom header -->
            <title>peforpe.com</title>
        {% endif %}

        <link rel="stylesheet" href="/hem/materialize/css/materialize.css?{{ BUILD_VERSION }}" />
        <link rel="stylesheet" href="/hem/application.css?{{ BUILD_VERSION }}" />
        <link rel="stylesheet" href="/hem/fonts/open-sans/open-sans.css" />
        <link rel="stylesheet" href="/hem/fonts/font-awesome/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Enriqueta|Saira+Semi+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="/hem/materialize/fonts/iconfont/material-icons.css" />
    </head>

    <body{% if show_sidebar %} class="side-panel"{% endif %}>{% block content %}{% endblock %}
    </body>
    <script type="text/javascript" charset="utf-8">
        var API_BASE = '/api/v1/';
        {% for variable, data in js_variables %}
            var {{ variable }} = {{ data|safe }};
        {% endfor %}
    </script>
{#    {% if DEBUG %}#}
{#        <script type="text/javascript">#}
{#            var path = '<script src="http://' + location.host + ':35729/livereload.js"></' + 'script>';#}
{#            document.write(path);#}
{#            var is_staff = true;#}
{#            var debug = true;#}
{#        </script>#}
{#    {% endif %}#}
    <script src="/hem/application.js?{{ BUILD_VERSION }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        // move to extras
        var app, App = require("index");
        app = new App({% if DEBUG %}{globals: {max_img_side_size: 400}, state: initial_state}{% endif %});
    </script>
    <!-- body-inject start -->
    {{ body_inject|safe }}
    <!-- body-inject end -->
</html>
