@import '/hem/contrib/medium-editor/base.css'
// @import '/hem/contrib/medium-editor/themes/roman.css'


body
  background: white


a[data-on-click]
  cursor: pointer


.spacer
  height 0

  div
    margin-top 100%

  &.inverse div
    margin-top -100%


.collection-item
  position: relative

  .buttons
    position: absolute
    top: 5px
    right: 5px
    padding: 3px 5px
    background: inherit


.content-types
  .row
    position: relative
    margin: 0

  .col
    height: 125px
    text-align: center
    line-height: 125px
    border: #e0e0e0 solid
    border-width: 1px 1px 0 0
    white-space: nowrap
    position: relative

    &:nth-child(3n)
      border-right-width: 0

    &:nth-child(-n+3)
      border-top-width: 0

    &:nth-child(3)
      border-width: 0

    &.content-types-white-plug
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: auto
      border-width: 1px 0 0
      color: transparent


.input-field
  [contenteditable]
    background-color: transparent
    border: none
    border-bottom: 1px solid #9e9e9e
    border-radius: 0
    outline: none
    height: 3rem
    width: 100%
    font-size: 1rem
    margin: 0 0 20px 0
    padding: 0
    box-shadow: none
    box-sizing: content-box
    transition: all 0.3s
    letter-spacing: 0

    &:focus:not([readonly])
      border-bottom: 1px solid #26a69a
      box-shadow: 0 1px 0 0 #26a69a

    ul
      list-style-type disc
      padding-left 20px

    li
      list-style-type disc

  div, span
    &.medium-editor-element
      position: relative
      display: inline-block
      z-index: 1

      &[data-medium-focused] + label
        color: #26a69a

  div
    &.medium-editor-element
      height: auto
      overflow-y: hidden
      padding: .8rem 0 1.6rem 0
      resize: none
      min-height: 3rem

      p:first-child
        margin-top: 0

  p.checkbox
    margin: -10px 0 20px
    border-bottom: 1px solid #9e9e9e
    line-height: 42px

    label
      top: 0

  .dropzone-field
    &:before
      content: ''
      display: block
      width: 100%
      height: 0
      padding-bottom: 100%
      background-image: url(contrib/fields/checked.svg)
      background-size: 20px
      background-position: center
      background-color: whitesmoke

      border-radius: 5px

    .form-control
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%


.medium-editor-toolbar li button
  background: white
  text-shadow: none
  border: none
  margin: 1px
  width: 50px
  height: 53px
  box-shadow: 1px 0 5px rgba(0,0,0,.3)
  border-radius: 2px !important
  // color: #b5b5b5
  color: #e77a1a

  &:hover
    // color: black !important
    color: #984a02 !important

  &.medium-editor-button-active
    // background: #d4d4d4
    background: #ecded1
    // color: #656565
    color: #bb6316


.medium-editor-toolbar-active.medium-editor-stalker-toolbar
  left: auto
  right: 0
  top: 100px
  border-radius: 0
  background: transparent
  box-shadow: none


.medium-toolbar-arrow-under:after
  border: none


.medium-editor-placeholder:after
  display: none


.medium-editor-toolbar-form
  background: white
  border-radius: 3px
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4)
  margin-left: 5px


.medium-editor-anchor-preview
  background: black
  border-radius: 3px
  padding: 4px 20px 0

  &:before
    border-color: transparent transparent black
