@import './mixin'
@import './contrib'


html
  margin 0
  padding 0


html, input, textarea, select, button
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.highlighted
  outline: 10px red solid


_side_panel_width = 400px

.side-panel
  body&
    padding-left: _side_panel_width
    // padding-right: _side_panel_width

  div&
    position: fixed
    top: 0
    bottom: 0
    left: 0
    // right: 0
    width: _side_panel_width
    overflow: auto
    box-shadow: inset -2px 0px 3px rgba(0, 0, 0, .22)
    // box-shadow: inset 2px 0px 3px rgba(0, 0, 0, .22)

  // TODO: chrome scrolling bug
  .card, .collection
    position: static

  .breadcrumb
    color: inherit

    &:before
      color: inherit
      margin -5px 10px 0 8px !important

    .go_apps
      margin-top 2px

  .nav-wrapper
    font-weight 300


.logout
  position: absolute
  top: 18px
  right: 12px
  padding: 12px
  background: white

.card > .collection
  border: none

body
  background #eee
  color #333
  overflow-x hidden
  overflow-y auto
  margin 0

.editable
  min-height: 30px
  position: relative

  &:hover
    &:after
      outline: 2px #ff0 solid
      position: absolute
      content: "\f040"
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: rgba(255,255,0,0.2)
      z-index: 1000
      font: normal normal normal 50px FontAwesome
      padding: 30px 0 0 30px


// form
//   outline: 10px yellow solid
//   z-index: 9999
//   position: relative

.medium-editor-toolbar
  z-index: 10000

  li:last-child
    button
      border-right: none

  button
    border-radius: 0

  &:not(.medium-editor-stalker-toolbar)
    position: relative
    top: -20px
    left: 50%
    display: inline-block
    margin: 0 0 -50px -25px
    // transform: scale(0.7)   // zatím to ovlivňuje
    //                         // i prvky, které jsou
    //                         // ve formulářích


.admin-buttons
  position: fixed
  bottom: 10%
  left: 0
  background: yellow
  z-index: 10000
  color: black
  padding: 8px
  border-radius: 0 5px 5px 0
