
vendors = webkit moz o ms official
-generate(tag, args...)
  for vendor in vendors
    if vendor == official
      {tag}: args
    else
      -{vendor}-{tag}: args

border-radius()
  -generate('border-radius', arguments)

/* Vertical Background Gradient */
vbg-gradient(fc = #FFF, tc = #FFF)
  background: fc
  background: -webkit-gradient(linear, left top, left bottom, from(fc), to(tc))
  background: -moz-linear-gradient(top, fc, tc)
  background: linear-gradient(top, fc, tc)

/* Horizontal Background Gradient */
hbg-gradient(fc = #FFF, tc = #FFF) 
  background: fc
  background: -webkit-gradient(linear, left top, right top, from(fc), to(tc))
  background: -moz-linear-gradient(left, fc, tc)
  background: linear-gradient(left, fc, tc)

box-shadow()
  -generate('box-shadow', arguments)

inset-box-shadow()
  -generate('inset-box-shadow', arguments)

box-flex(s = 0)
  -generate('box-flex', s)

hbox()
  display: -webkit-box
  -webkit-box-orient: horizontal
  -webkit-box-align: stretch
  -webkit-box-pack: start
  
  display: -moz-box
  -moz-box-orient: horizontal
  -moz-box-align: stretch
  -moz-box-pack: start

vbox()
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-box-align: stretch

  display: -moz-box
  -moz-box-orient: vertical
  -moz-box-align: stretch

border-box()
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

ellipsis()
  text-overflow: ellipsis
  overflow: hidden
  white-space:nowrap

inset-line(opacity = 0.4, size = 1px)
  inset-box-shadow(0, size, 0, rgba(255, 255, 255, opacity))

outset-line(opacity = 0.4, size = 1px)
  box-shadow(0, size, 0, rgba(255, 255, 255, opacity))

box-pack(type = center)
  -generate('box-pack', type)  

box-sizing()
  -generate('box-sizing', arguments)

transform()
  -generate('transform', arguments)

transition()
  -generate('transition', arguments)

text-shadow()
  -generate('text-shadow', arguments)

hacel()
  transform(translate3d(0,0,0))